@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
    --github-color: rgba(0,0,0,0.5);
    --dartpad-color: rgba(43, 182, 246, 0.7);
    --youtube-color: rgba(255, 0, 0, 0.5);
    --flutter-color: rgba(10, 92, 156, 0.7);
    --dart-color: rgba(0, 204, 179, 0.7);
    --academind-color: rgba(251, 146, 63, 0.7);
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: small;
    -webkit-touch-callout: default; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

p {
    font-size: 1.5rem;
}

iframe {
    width: 100%;
    height: 400px;
}

a, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    color: black;
}

.highlight {
    border-bottom: 3px solid;
    color: black;
}

.h1{
    font-size: 3.6rem;
}

.h2 {
    font-size: 3.2rem;
}

.h3 {
    font-size: 2.7rem;
}

.h4{
    font-size: 2.5rem;
}

.h5{
    font-size: 2.2rem;
}

.gist {
    display: none;
}

#landing {
    background-image: url('../img/flutter_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media print {
    body {
        background-color: white;
    }

    iframe {
        display: none;
    }

    .gist {
        display: block;
        word-wrap: break-word;
    }

    .highlight {
        border-bottom: none;
    }
}

#trees_image {
    width: 80%;
    height: 80%;
}

#flutter_command {
    display: inline;
    font-family: 'Courier';
}

