<!DOCTYPE html>
<html>
  <head>
    <title>
      Form
    </title>
  </head>
  <body>
    <center>
      <h1>Team AnIOop</h1>
      <h4>Joseph Lee, Raymond Lee</h4><br>
      <span style="color:#ff0300">
        HELLO
      </span>
      <form action="/logout" method="get">
        <button type="submit" formaction="/logout">Logout</button><br>
      </form>
      {% extends "layout.html" %}
    {% block body %}
    <h1>Overview</h1>
    <p>Do you want to <a href="{{ url_for('login') }}">log in?</a>
    {% endblock %}
    </center>
  </body>
</html>