<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>occupations</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>random occupation: {{ pickedOccupation }}</h1>
    <h2>refresh to draw a new random occupation!</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Occupation</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in dict %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
    <h5>by ray.lee., hong wei; emoji; softdev pd1</h5>
</body>
</html>